# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/javascript "access plus 1 year"
</IfModule>

RewriteRule ^(.+?/)?fr(?:/(.*))?$ /$1$2 [NC,R=301,L]


#REDIRECTS
Redirect 301 /author/admin /about
Redirect 301 /portfolio_cat/uxui/ /portfolio_cat/ux-ui
Redirect 301 /category/uncategorized /category/non-classe
Redirect 301 /prestations/application-mobile/ /prestations/developpement-application-mobile/
Redirect 301 /contact /about
Redirect 301 /en /
Redirect 301 /fr /
Redirect 301 /prestations/site-web-en-responsive-design/ /site-web-responsive-design

Redirect 301 /developpement-application-mobile/ /developpeur-application-mobile/
Redirect 301 /prestations/developpement-application-mobile/ /developpeur-application-mobile/
Redirect 301 /prestations/application-mobile/ /developpeur-application-mobile/
Redirect 301 /site-web-en-responsive-design/ /site-web-responsive-design/
Redirect 301 /prestations/site-web-en-responsive-design/ /site-web-responsive-design/
Redirect 301 /freelance-web-developer/ /
Redirect 301 /partenaires/ /
Redirect 301 /prestations/refonte-de-site-web/ /prestations/refonte-de-site-web/
Redirect 301 /prestations/referencement-naturel/ /referencement-naturel/
Redirect 301 /prestations/formation/ /formation-web-independant/
Redirect 301 /fr/contact/ /contact

Redirect 301 /category/wordpress-en/ /category/wordpress/
Redirect 301 /category/freelance-en/ /category/freelance/
Redirect 301 /category/business/ /category/freelance/
Redirect 301 /2017/01/08/hello-world/ /

RedirectMatch 301 ^/portfolio/$ /realisations
RedirectMatch 301 ^/tag/.* /prestations-web/
RedirectMatch 301 ^/fr/category/.* /prestations-web/
RedirectMatch 301 ^/en/category/.* /prestations-web/
RedirectMatch 301 ^/blog.* /articles

